html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  display: block;
  text-align: center;
}

header {
  background-color: #d05c2e;
}

ul {
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  text-align: center;
}

a {
  text-decoration: none;
}

.nav a:hover {
  background-color: #a63f38;
}

.left {
  max-width: 40px;
  float: left;
}

.right {
  max-width: 40px;
  float: right;
}
