html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  display: block;
  text-align: center;
  font-family: Merriweather, serif;
  margin: 0;
  font-size: 2rem;
  color: #fff;
}

header {
  background-color: #d05c2e;
}

ul {
  padding: 0;
  margin: 0;
  background-color: #d05c2e;
  text-decoration: none;

}

nav {
  text-decoration: none;
  list-style: none;
}

li {
  float: left;
  text-align: center;
  padding: .4em .75em .3em;
  background-color: #d05c2e;
  text-decoration: none;
  border: 1px solid #a63f38;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  float: left;
}

.nav a:hover {
  background-color: #a63f38;
}

.left {
  width: 40px;
  float: left;
  margin: .3rem;
}

.right {
  width: 40px;
  float: right;
  margin: .3rem;
}
